
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/app.css">
<script src="https://kit.fontawesome.com/95135ce5a6.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Work Orders App</title>
</head>
<body>